<h2 mat-dialog-title *ngIf="!recyclableMaterialId">Agregar material</h2>
<h2 mat-dialog-title *ngIf="recyclableMaterialId">Editar material</h2>
<form [formGroup]="recyclableMaterialFG" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="mat-typography">
        <div class="example-container">
            <mat-form-field>
                <mat-select placeholder="Tipo" formControlName="tipo">
                    <mat-option *ngFor="let type of types" [value]="type.idTipo">{{type.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Nombre" formControlName="nombre">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Descripción" formControlName="descripcion">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Foto" formControlName="foto">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Peso (kg)" formControlName="peso">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Precio" formControlName="precio">
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end" style="text-align: right;">
        <a *ngIf="recyclableMaterialId" mat-button routerLink="/recyclable-materials">Cancelar</a>
        <a *ngIf="!recyclableMaterialId" mat-button mat-dialog-close>Cancelar</a>
        <button type="submit" mat-button [mat-dialog-close]="true">Agregar</button>
    </mat-dialog-actions>
</form>