<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #drawer class="sidenav" fixedInViewport
		[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
		[mode]="(isHandset$ | async) ? 'over' : 'side'"
		[opened]="(isHandset$ | async) === false">
		<mat-toolbar>Menú</mat-toolbar>
		<mat-nav-list>
			<a mat-list-item routerLink="/">
				<mat-icon aria-hidden="false">dashboard</mat-icon>
				<span style="margin-left: 5px;">Inicio</span>
			</a>
			<a mat-list-item routerLink="/recyclable-materials">
				<mat-icon aria-hidden="false">eco</mat-icon>
				<span style="margin-left: 5px;">Materiales</span>
			</a>
			<a mat-list-item routerLink="/purchases">
				<mat-icon aria-hidden="false">attach_money</mat-icon>
				<span style="margin-left: 5px;">Compras</span>
			</a>
			<a mat-list-item (click)="logout()">
				<mat-icon aria-hidden="false">chevron_left</mat-icon>
				<span style="margin-left: 5px;">Cerrar Sesión</span>
			</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="primary">
			<button
				type="button"
				aria-label="Toggle sidenav"
				mat-icon-button
				(click)="drawer.toggle()"
				*ngIf="isHandset$ | async">
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button>
			<span>Vierars</span>
		</mat-toolbar>
		<div style="padding: 20px;min-height: 80vh;">
			<router-outlet style="width: 90%;margin: auto;"></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
